<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>A fazer</title>
</head>
<body>
   
    <h1> <%= tipoDeDia %></h1>

    <ul>
        <li>Comprar comida</li>
        <li>Conzinhar comida</li>
        <li>Comer comida</li>
        
        <%for (let i=0; i<novosAfazeres.length;i++){ %>
            <li> <%= novosAfazeres[i] %></li>
        <% } %>

    </ul>

    <form action="/" method="post">
        <input type="text" name="novoAfazer" required>
        <button type="submit" name="btn">Criar</button> 
    </form>

</body>
</html>